<div class="container-fluid">
  <h1 class="text-center section">Phoenix Quotes</h1>
  <marquee behavior="scroll" direction="left"><em><strong>A Quote A Day Keeps The Mind At Bay</strong></em></marquee>
  <div class="row container-fluid">
    <div class="col-md-4 section section1">
      <h2 class="text-center">Fun Facts About Quotes</h2>
      <p class="text-center">
        The earliest book discovered in which appeared indicia which may properly be termed marks of quotation was printed in 1516 at Strasbourg, Alsace (then in Germany), by Mathias Schurer. It was “De Vitis Sophistarum” by Flavius Philostratus. The marks consisted of two commas in the left hand margin of each page outside the regular type measure. They were placed at the beginning of each line in which a quoted passage appeared, and were evidently added after the page was set up, because their alignment varies greatly.
      </p>
      <p class="text-center">
      <strong><em>Post Your's here. Who knows! It may be read in the 30<sup>th</sup> Century</em></strong>  
      </p>
    </div>
    <div class="col-md-4 mid">
      <app-quote-form (addQuote) = "addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-4 text-center published">
      <h3 >Published Quotes</h3>
      <div>
        <ol *ngFor = 'let quote of quotes; let i = index'>
          <p class="card">
            <em class="quote ">"{{quote.quoteStatement}}"</em> <br>
            
            <span>
              <button class="btn btn-success upvote" (click) = 'voteForQuote(quote, 0)'><small>Upvote</small></button>
              <small>{{quote.upvotes}}</small>
              <button class="btn btn-danger downvote" (click) = 'voteForQuote(quote, 1)'><small>Downvote</small></button>
              <small>{{quote.downvotes}}</small>
            </span>
            <!-- <span><small>Upvotes: {{quote.upvotes}} Downvotes: {{quote.downvotes}}</small></span> -->
            <button class="btn btn-sm btn-info toggle" (click)='toggleDetails(i)'>Toggle Details</button>
            <app-quote-detail *ngIf='quote.showDetails' [quote] = 'quote' (isUnwanted) = 'deleteQuote($event, i)'></app-quote-detail>
          </p>
        </ol>
      </div>
    </div>
  </div>
  <footer>
    <p id="rights">&copy; Copyright 2021 Kevson</p>
  </footer>
</div>
