<div class="container-fluid">
  <h1 class="text-center section">Phoenix Quotes</h1>
  <div class="row">
    <div class="col-md-4 section section1">
      <h2 class="text-center">About Phoenix quotes</h2>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p class="text-center">
        Tortor aliquam nulla facilisi cras fermentum odio eu. In ornare quam viverra orci sagittis. Vulputate odio ut enim blandit volutpat. Rutrum quisque non tellus orci ac auctor augue. Scelerisque viverra mauris in aliquam sem. Eros donec ac odio tempor orci dapibus ultrices in. Aliquam etiam erat velit scelerisque in dictum non consectetur a. Lectus nulla at volutpat diam ut venenatis. Placerat vestibulum lectus mauris ultrices eros in cursus turpis. Vitae justo eget magna fermentum iaculis eu non diam. Eros in cursus turpis massa tincidunt. Lacinia at quis risus sed vulputate odio ut enim blandit.
      </p>
    </div>
    <div class="col-md-3 section mid">
      <app-quote-form></app-quote-form>
    </div>
    <div class="col-md-4 text-center">
      <h3 >Published Quotes</h3>
      <div>
        <ol *ngFor = 'let quote of quotes; let i = index'>
          <p class="card">
            <em class="quote ">"{{quote.quoteStatement}}"</em> <br>
            <button class="btn btn-sm btn-info" (click)='toggleDetails(i)'>Toggle Details</button>
            <app-quote-detail *ngIf='quote.showDetails' [quote] = 'quote' (isUnwanted) = 'deleteQuote($event, i)'></app-quote-detail>
          </p>
        </ol>
      </div>
    </div>
  </div>
</div>
