<div class="container-fluid">
  <h1 class="text-center section">Phoenix Quotes</h1>
  <marquee behavior="scroll" direction="left"><em><strong>A Quote A Day Keeps The Mind At Bay</strong></em></marquee>
  <div class="row container-fluid">
    <div class="col-md-4 section section1">
      <h2 class="text-center">About Phoenix quotes</h2>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p class="text-center">
        Tortor aliquam nulla facilisi cras fermentum odio eu. In ornare quam viverra orci sagittis. 
      </p>
    </div>
    <div class="col-md-4 mid">
      <app-quote-form (addQuote) = "addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-4 text-center published">
      <h3 >Published Quotes</h3>
      <div>
        <ol *ngFor = 'let quote of quotes; let i = index'>
          <p class="card">
            <em class="quote ">"{{quote.quoteStatement}}"</em> <br>
            
            <span>
              <button class="btn btn-success upvote" (click) = 'voteForQuote(quote, 0)'><small>Upvote</small></button>
              <small>{{quote.upvotes}}</small>
              <button class="btn btn-danger downvote" (click) = 'voteForQuote(quote, 1)'><small>Downvote</small></button>
              <small>{{quote.downvotes}}</small>
            </span>
            <!-- <span><small>Upvotes: {{quote.upvotes}} Downvotes: {{quote.downvotes}}</small></span> -->
            <button class="btn btn-sm btn-info toggle" (click)='toggleDetails(i)'>Toggle Details</button>
            <app-quote-detail *ngIf='quote.showDetails' [quote] = 'quote' (isUnwanted) = 'deleteQuote($event, i)'></app-quote-detail>
          </p>
        </ol>
      </div>
    </div>
  </div>
  <footer>
    <p>copyright</p>
  </footer>
</div>
