.input{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  max-width: 350px;
}
.sectionform{
  background-color: #F9AFF1;
}
.varify{
  background-color: #E7E3E3;
  margin-top: 15px;
}
.varify>P{
  margin-bottom: 0;
  margin-left: 15px;
}
small{
  font-size: 12px;
}
.publish{
  background-color: #43B7DC;
  border-radius: 110px;
  margin-bottom: 10px;
}