<div class="sectionform">
  <h2 class="text-center">Post a quote</h2>
  <form action="" class="center-block text-center" #quoteForm='ngForm' (ngSubmit)='postQuote()'>

    <div class="input">
      <input type="text" class="form-control" id="quoteAuthor" name="quoteAuthor" placeholder="Author's Name..." [(ngModel)]="newQuote.quoteAuthor" #quoteAuthor='ngModel' required>
      <div [hidden] = "quoteAuthor.valid || quoteAuthor.pristine" class="alert alert-danger">
        <p>Required</p>
      </div>
    </div>

    <div class="input">
      <input type="text" class="form-control" id="writer" name="quotePublisher" placeholder="Your Name..."[(ngModel)]="newQuote.quotePublisher" #quotePublisher='ngModel' required>
      <div [hidden] = "quotePublisher.valid || quotePublisher.pristine" class="alert alert-danger">
        <p>Required</p>
      </div>
    </div>

    <div class="input">
      <textarea name="quote" id="quote" class="form-control" name="quoteStatement" cols="40" rows="4" placeholder=" Please enter your quote here"[(ngModel)]="newQuote.quoteStatement" #quoteStatement='ngModel' required></textarea>
      <div [hidden] = "quoteStatement.valid || quoteStatement.pristine" class="alert alert-danger">
        <p>Required</p>
      </div>
    </div>

    <div class="input">
      <input type="date" class="form-control" id="date" name="date" [(ngModel)]="newQuote.date" #date='ngModel' required>
      <div [hidden] = "date.valid || date.pristine" class="alert alert-danger">
        <p>Required</p>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-success"><strong>Publish</strong></button>

  </form>
</div>
<div class="varify">
  <h3 class="text-center">The Info below will be posted</h3>
  <p><small>Author: {{newQuote.quoteAuthor}}</small></p>
  <p><small>publisher: {{newQuote.quotePublisher}}</small></p>
  <p><small>Quote: {{newQuote.quoteStatement}}</small></p>
</div>
